﻿/*
	@author: Irina Novotny, Mathias Helms, Maximilian Wulf
	@Funktion: Hier stehen alle Style Informationen.
*/

:invalid 
{ 
	border-color: #e88;
	-webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
	-moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
	-o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
	-ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
	box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

:required 
{
	border-color: #88a;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

input:disabled, textarea:disabled
{
	background-color:#FFFFFF;
	color:#000000;
	border:0px;
}

input
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:20px;
  width:300px;
  min-height:30px;
  display:block;
  margin-bottom:15px;
  margin-top:5px;
  margin-left:2px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

html, body, ul, img, div, span, p, form{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
form 
{
	width:330px;
	padding: 18px 35px 18px 18px;
}
body 
{
	font-family: Verdana, Arial, Tahoma, sans-serif;
	background-color:#525252;
	height: 100%;
}

ol, ul 
{
	list-style: none;
}

a 
{
	text-decoration: none;
}
h1
{
	font-size: 200%;
}
h2
{
	font-size: 150%;
}



/* <TODO REFACTOR> */

header
{
	padding: 1px 0px 0px 0px;
	position: fixed;
	top: 0px;
	width: inherit;
	z-index: 1;
	text-align: left;
	height:150px;
}

header #head_title
{
  display: block;
  width: 400px;
  float: left;
}

header, footer
{
	background-color: #73C0FF;
}

nav ul li.selected, #content_headline
{
    background-color: #979797;
}

nav ul li.selected a
{
    font-weight: bold;
    color: transparent;
}

header nav ul li:hover
{
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-image: url(img/pfeil-klein.png);
    background-repeat: no-repeat;
    background-position:top;
}

header nav ul li.selected
{
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-image: url(img/pfeil-klein.png);
    background-repeat: no-repeat;
    background-position: center;
}

footer nav ul a, body
{
	color: #2c2c2c;
}

header nav
{
	text-align: left;
	display: block;
}

header nav ul
{
	padding: 7px 3px;
	background-color: #2c2c2c;
	
	list-style-type: none;
}

header nav ul a, #content_headline
{
	color: white;
	text-decoration: none;
}

nav ul li
{
	display: inline;
	padding: 10px 20px;
}

footer
{
	height: 40px;
	
	border-top: solid #2c2c2c 20px;
	
	line-height: 50%;
	font-size: 85%;
	padding: 15px 0px;
	z-index: 1;
	position: fixed;
	bottom: 0px;
	width: 1000px;
	text-align: center;
}


/* </TODO REFACTOR> */
#page
{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	min-height:1000px;
	background-color:#ffffff;
	box-shadow: 8px 0px 20px #333, -8px 0px 20px #333;
	border-left: solid black 1px;
	border-right: solid black 1px;
    padding-bottom: 235px;
}

/* <Compact Login> */
#login
{
	display: block;
	width: 350px;
	height: 60px;
	padding: 8px 0px 8px 0px;
	border-radius: 5px;
	box-shadow: 8px 0px 20px #333, -8px 0px 20px #333;
	background-clip: padding-box;
	background-color: #ffffff;
	margin-left: 630px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#login fieldset
{
  border-style: none;
  width: 320px;
}

#login legend
{
  color: #000;
  font-size: 12px;
}
#login a
{
  font-size: 12px;
  padding: 0px 2px;
}
#login a:link {color:Blue;}
#login a:visited {color:Blue;}
#login a:hover {color:#000000;}
#login a:active {color:#FFFFFF;text-shadow: 1px 1px #000000;}
#login input
{
  display: inline;
  width: 130px;
  min-height: 16px;
  height: 16px;
  font-size: 12px;
  margin-top:0px;
  margin-bottom:0px;
}

#submitButton
{
  font-size: 12px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  margin: 0px 5px;
}

#loggedin
{
	display: block;
	width: 350px;
	height: 57px;
	padding: 11px 0px 8px 0px;
	border-radius: 5px;
	box-shadow: 8px 0px 20px #333, -8px 0px 20px #333;
	background-clip: padding-box;
	background-color: #ffffff;
	margin-left: 630px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
	font-size: 16px;
}
#loggedin a:link {color:Blue;}
#loggedin a:visited {color:Blue;}
#loggedin a:hover {color:#000000;}
#loggedin a:active {color:#FFFFFF;text-shadow: 1px 1px #000000;}
/* </Compact Login> */


/* <Section> */
#main
{
  height: 100%;
  display: block;
  position: relative;
  top: 210px;
}

#content_headline
{
	font-size: 200%;
	padding: 10px 15px 10px 100px;
	text-align: left;
	font-family: "Arial Black", Sans-Serif;
	position: fixed;
	top: 104px;
	width: 885px;
	z-index: 1;
}

article
{
    padding-bottom: 50px;
    text-align: left;
    background: #ffffff;
    height: 100%;
	margin:0px 10px;
}
/* </Section> */




#willkommenstext
{
	font-size:30px;
	border:2px solid red;
	display:block;
}
.EditIcon
{
	width:25px;
	height:25px;
	float:right;
	padding:10px;
	display:inline;
}
.MessageIcon
{
	width:40px;
	height:40px;
	float:right;
	padding:10px;
	margin-top:-8px;
	display:inline;
	border-radius: 15px;
	-moz-border-radius: 15px;
}
.MessageIcon:hover
{
	background-color: #eeeeee;
}
.clearfix
{
	padding: 18px 35px 18px 18px;
	background-color: #eeeeee;
	color: #000000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	margin:10px 0px;
}
.clearfix:hover,
.clearfix_message:hover,
#anlegen:hover
{
	background-color: #f9f9f9;
}
#anlegen
{
	width:980px;
	height:25px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	background-color: #eeeeee;
	color: #000000;
	border-radius: 15px;
	-moz-border-radius: 15px;
}
.desc
{
	width:700px;
	clear:both;
}
.subject
{
	float:left;
	margin-top:7px;
	margin-right:5px;
	color:#3B5998;
	font-size:18px;
}
.numberOfChildren
{
	float:left;
	margin-top:10px;
}
.schedule
{
	max-width:700px;
}
#loginForm
{
	padding:0px;
}

/* Messages */
.clearfix_message
{
	padding: 10px 15px 10px 18px;
	background-color: #eeeeee;
	color: #000000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	margin:10px 0px;
	height: 44px;
}

/* Jobs */
#jobs_shedule
{
	border-spacing: 2px;
	border-color: gray;
}

#jobs_shedule td
{
	min-width: 110px;
	text-align: center;
}

#jobs_shedule input
{
	width: 110px;
	margin: 0px;
	min-height: 10px;
	border: none;
}